---
interface Props {
  id?: string;
  class?: string;
}
const { id, class: className = "" } = Astro.props;
---

<section {id} class={"py-16 md:py-24 " + className}>
  <div class="max-w-6xl mx-auto px-4">
    <slot />
  </div>
</section>
