---
import { locales, defaultLocale } from "../locales/utils";
---

<html>
  <head>
    <meta charset="utf-8" />
    <noscript>
      <meta http-equiv="refresh" content={"0;url=/" + defaultLocale + "/"} />
    </noscript>
  </head>
  <body>
    <script define:vars={{ locales, defaultLocale }}>
      const savedLang = localStorage.getItem("lang");
      const browserLang = navigator.language.split("-")[0];
      const targetLang = (savedLang && locales.includes(savedLang))
        ? savedLang
        : (locales.includes(browserLang))
          ? browserLang
          : defaultLocale;
      localStorage.setItem("lang", targetLang);
      window.location.replace("/" + targetLang + window.location.search);
    </script>
  </body>
</html>
